{% extends "@admin/navigation/sidebar-menu.html.twig" %}

{% block navigation %}
    {{parent()}}
    {% if checkAccess("uri_users") %}
    <li>
        <a href="{{site.uri.public}}/admin/applications"><i class="fa fa-file-text fa-fw"></i> <span>{{translate("APPLICATION", 2)}}</span></a>
    </li>
    {% endif %}
    {% if checkAccess("uri_users") %}
        <li>
            <a href="{{site.uri.public}}/admin/countries"><i class="fa fa-globe fa-fw"></i> <span>{{translate("COUNTRY", 2)}}</span></a>
        </li>
    {% endif %}
    {% if checkAccess("uri_users") %}
        <li>
            <a href="{{site.uri.public}}/admin/expertises"><i class="fa fa-briefcase fa-fw"></i> <span>{{translate("EXPERTISE", 2)}}</span></a>
        </li>
    {% endif %}
    {% if checkAccess("uri_users") %}
        <li>
            <a href="{{site.uri.public}}/admin/universities"><i class="fa fa-university fa-fw"></i> <span>{{translate("UNIVERSITY", 2)}}</span></a>
        </li>
    {% endif %}
{% endblock %}
